.header-nav{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    position: sticky;
    top: -5px;
}
.top-nav{
    height: 60px;
    display: flex;
    background-color: #131921;
    z-index: 100;
    align-items: center
}
.bottom-nav{
    background-color: #131921;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 8px;
}
.status-box{
    display: flex;
    margin: 0 15px;
    align-items: center;
}
.status-box .authentication{
    position: relative;
}
.status-box .acount-box{
    margin-right: 10px;
    align-items: center;
    display: flex;
}
.status-box .acount-box a{
    padding: 0 10px;
    border-right: 2px solid;
    font-size: 12px;
    color: #fff;
    font-weight: 400;
}

.status-box .acount-box i{
    font-size: 20px;
    padding: 5px;
    color: #fff;
    font-weight: 400;
}
.status-box .acount-box{
    margin-right: 10px;
    
}
.status-box .user-account{
    cursor: pointer;
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
    border-right: 2px solid;
    padding-right: 10px;
    margin-right: 10px;
    height: 20px;
}
.status-box .user-account img{
    width: 30px;
    border-radius: 50%;
    object-fit: cover;
    height: 30px;
    margin-right: 5px;
}
.status-box .basket-icon{
    position: relative;
    padding:0 5px;
    margin-left: 5px;
    background-color: transparent;
}

.status-box .basket-icon i,
.status-box .settings i{
    font-size: 22px;
    color : var(--mainColor);
}
.status-box .basket-icon span{
    color: rgb(255, 255, 255);
    position: absolute;
    background: red;
    padding: 2px;
    left: 15px;
    top: -4px;
    min-width: 18px;
    border-radius: 50%;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}
.status-box .user-account:hover + .account-settings{
    opacity: 1;
    visibility: visible;
}
.status-box .authentication .account-settings{
    position: absolute;
    height: 90px;
    background: #fff;
    width: 100px;
    top: 25px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    padding: 10px 10px;
    opacity: 0;
    visibility: hidden;
    right: 0;
}
.status-box .authentication .account-settings i{
    padding-right: 8px;
    font-size: 14px;
}
.status-box .authentication .account-settings a{
    font-weight: 400;
    margin-bottom: 5px;
    color: #000;
}
.status-box .authentication .account-settings a:hover,
.acount-box a:hover{
    color: var(--mainColor)
}
.status-box .authentication .account-settings:hover{
    opacity: 1;
    visibility: visible;
}

.btnToggler{
    position: absolute;
    right: 10px;
    top: 52px;
    display: none;
}
.btnToggler button{
    padding: 0px 2px;
    margin: 0 !important;
    background: transparent;
}
.btnToggler button i{
    color: #fff;
    padding: 0px;
    font-size: 40px;
    font-weight: 900;
}
.rearch-box{
    margin: 10px;
    display: flex;
    flex: 1 1;
}
.rearch-box input{
    width: 100%;
    padding: 6px;
    border: none;
    outline: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    display: inline-block;
    color: #000 ;
}
 .rearch-box button{
    color: #fff;
    width: 40px;
    margin: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.bottom-nav .rearch-box{
    display: none;
    width: 70%;
    flex: unset;
}

.nav-brand img{
    margin-left: 20px;
    
    width: 100px;
    height: 30px;
}
.nav-brand h1{
    font-family: 'header2';
}

@media(max-width:768px){
    .nav-brand{
        font-size: 10px;
        font-weight: 600;
        padding: 5px 8px;
        color: var(--mainColor);
        text-decoration: none;
        justify-self: flex-start;
    }

}
@media(max-width:512px){
    .nav-brand img{
        margin-left: 10px;
        width: 85px;
        height: 25px;
    }
}

@media(max-width:768px){
    .top-nav {
        justify-content: space-between;
    }
    .btnToggler{
        display: block;
    }
    .bottom-nav .rearch-box{
        display: flex;
    }
    .top-nav .rearch-box{
        display: none;
    }
    .bottom-nav-items{
        display: none;
    }
}
