.not-found-page{
    display: flex;
    justify-content: center;
    align-items: center;
}
.not-found-page img{
    object-fit: contain;
    width: 30%;
    margin-top: 30px;
}
@media(max-width:768px){
    .not-found-page img{
        width: 60%;
    }
}

.not-found-entering{
    animation-name: animate1;
    animation-duration: 0.5s;
}