.related_product_container{
    display: flex;
    position: relative;
    padding: 5px 35px;
    justify-content: center;
}
.related_product_slider{
    display: flex;
    overflow-x: scroll;
    
    align-items: center;
    width: 100%;
    transition : scroll 2s cubic-bezier(0.71, 0.15, 0.3, 0.81);
}
.related_product_container .scroll_btn{
    cursor: pointer;
    position: absolute;
    padding: 10px;
    background-color: #fff;
    z-index: 10;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    box-shadow: 0px 0px 5px 5px #ddd;
    top: 120px;
    left: 20px;
}
.related_product_container .right{
    left: unset;
    right: 20px;
}