.card{
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    overflow: hidden;
    box-sizing: border-box;
    padding: 10px;
    margin: 5px;
    border-radius: 2px;
    border: 1px solid #f5f5f5;
    background-color: #f5f5f5;
}

.card img{
    width: 130px;
    margin: auto;
    transform: translateX(70px);
    transition: transform 0.3s;
}
.card:hover img{
    transform: translateY(-20px);
}

.product-info h4{
    font-size: 16px;
    font-family: inherit;
    font-weight: 900;
    color: var(--mainColor);
}

.product-info h5{
    font-size: 12;
    font-family:'Segoe UI';

}
.card-info button{
    display: inline-block;
    width: 70px;
    margin: auto;
}

.product-picture-animation{
  animation-name: product-image-animation;
  animation-duration: 1s;
}
@keyframes product-image-animation{
    from{
        transform: translateY(-50px);
        transition: transform 0.3s ease-in-out;
    }
    to{
        transform: translateX(80px);
        transition: transform 0.3s ease-in-out;
    }
}
@media (max-width:768px){
    .card{
        width: 200px;
        height: 240px;
    }
    
    .card img{
        width: 100px;
        transform: unset;
    }
    .card:hover img{
        transform: unset;
    }
    .product-info h4{
        font-size: 12px;
    }
}