.product_details{
    width: 100%;
    display: flex;
}

/*product image section */

.product_details .product_images{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product_details .product_images .different_sides{
    margin-top: 90px;
    margin-bottom: 40px;
}
.product_details .different_sides .image_side{
    margin-right: 20px;
    padding: 10px;
    cursor: pointer;
}
.product_details .different_sides .active{
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}

.different_sides .image_side img{
    width: 50px;
}

.product_images .zoom-btn{
    position: absolute;
    right: 80px;
    top: 50px;
    font-size: 18px;
    padding: 5px 15px;
}
.product_images .modal{
    width: 70%;
    height: 70%;
    left: 16%;
    top: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product_details .product_images .product_image{
    margin-top: 100px;
    width: 250px;
}
.product_images .modal img{
    margin-top: 0px;
    width: 40%;
    position: relative;
}

.price-rate{
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    flex-flow: wrap;
}

.border-bottom{
    padding-bottom: 20px !important;
    margin-bottom: 20px !important;
    border-bottom: 1px solid #f5f5f5;
}

.product_details .product-title{
    font-size: 25px;
    font-weight: 700;
    text-transform: capitalize;
}
.product_details .product-info{
    margin-top: 20px;
    margin-left: 20px;
}
.product_details .product-price{
    display: flex;
}
.product_details .before-discount{
    font-size: 14px;
    color: #fd5050;
    text-decoration: line-through;
    font-weight: 700;
    display: flex;
    align-items: flex-end;
    margin-right: 10px;
}

.product_details .after-discount{
    font-size: 20px;
    font-family:'Segoe UI';
    font-weight: 700;
}

.product_details .discount-value{
    border-radius: 20px;
    background: #cd3f4b;
    padding: 0 8px;
    font-size: 12px;
    color: #fff;
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.product_details .product-price{
    padding: 10px 0;
    font-size: 15px;
    font-weight: 500;
}

.product_details .product-description{
    padding: 10px 0;
    font-size: 14px;
    font-weight: 500;
    
}
.add-to-card{
    width: 80%;
}
.add-to-card input{
    outline: none;
    border-radius: 3px;
    padding: 6px;
    border: 0.5px solid rgb(197, 197, 197);
    width: 20%;
    min-width: 40px;
}
.product-info button{
    margin:5px 5px 5px 0;
    min-width: 70px;
    border-radius: 20px;
}

.related_product_container{
    display: flex;
    position: relative;
    padding: 5px 35px;
}
.related_product_slider{
    display: flex;
    overflow-x: scroll;
    
    align-items: center;
    width: 100%;
    transition : scroll 2s cubic-bezier(0.71, 0.15, 0.3, 0.81);
}
.related_product_container .scroll_btn{
    cursor: pointer;
    position: absolute;
    padding: 10px;
    background-color: #fff;
    z-index: 10;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    box-shadow: 0px 0px 5px 5px #ddd;
    top: 120px;
    left: 20px;
}
.related_product_container .right{
    left: unset;
    right: 20px;
}

@media(max-width:768px){
    .product_details .product-info{
        margin: 0 auto;
        width: 100%;
    }
    .product_details{
        flex-direction: column;
    }
    .product_details .product_images .different_sides {
        margin-top: 60px;
    }
    .product_details .product_images .product_image {
        margin-top: 40px;
        width: 150px;
    }
    .product_details .modal img{
        width: 90%;
    }
    .product_details .zoom-btn {
        right: 0px;
        top: 10px;
    }

    
}


@keyframes fadeIn{
    0%, 40%{
        transform: translateY(50vh) scale(0.001);
    }
    40%,50%{
        transform:translateY(0vh) ;
    }
    50%, 60%{
        transform: translateY(0vh);
    }
    60%,100%{
        transform: scale(1);
    }
}
