.login-container{
    width: 80%;
    margin: auto;
    background-color:#fff;
    display: flex;
    padding: 50px;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.back-to-login{
    position: absolute;
    left: 0px;
    top: 0px;
    color: #000;
    font-size: 25px;
    padding: 0 10px;
    float: left;
}
.login-container .eshop-logo{
    width: 120px;
    margin-bottom: 25px;
}
/* login with third party app */
.login-with-third-party{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.login-with-third-party li{
    font-size: 25px;
    margin-right: 10px;
    color: var(--tp);
    cursor: pointer;
    width: 100%;
    padding: 0 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: color .3s ease, background-color .3s ease;
}
.login-with-third-party li:last-child{
    margin-right: 0;

}
.login-with-third-party li:hover{
    color: #fff;
    background-color: var(--tp);
}
.login-container form p{
    font-size: 12px;
    margin-top: 12px;
}

/* the eye icon on password inputs */
.show-password{
    background: transparent;
    position: absolute;
    right: 0;
    padding: 8px 10px 5px 20px !important;
    z-index: 60;
    transition: all 0.1s ease-in-out;

}
.show-password:hover{
    transform: scale(1.2);
    transition: all 0.1s ease-in-out;
}

.scaleY{
    transform: translateY(-100vh);
    
}
.already-account{
    display: block;
    margin: 20px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px 10px;
    color: #000;
}
.already-account:hover{
    background-color: #ddd;
}

.signup , .login{
    width: 60%;
    position: relative;
    transition: transform 0.3s;
}
.signup  .success, .login .success{
    font-size: 18px;
    padding: 5px 25px;
    width: 100%;
}
.login-container h2{
    text-align: left;
    margin-bottom: 25px;
}
.login h3{
    padding: 20px;
}

@media (max-width:768px){
    .login-container{
        width: 100%;
        padding: 20px;

    }
    .login-container .login, .signup{
        width: 90%;
    }
}

.login-entering{
    animation-name: login;
    animation-duration: 1.5s;
}

.login-exiting{
    animation-name: loginExit;
    animation-duration: 1.5s;
}


@keyframes login{
    0%,40%{
        transform: translateX(100vh);
    }
    40%,70%{
        transform: translateX(-45px);
    }
    70%,100%{
        transform: rotateX(0);
    }
}
@keyframes loginExit{
    0%,40%{
        transform: rotateX(0);
    }
    40%,70%{
        transform: translateX(45px);
    }
    70%,100%{
        transform: translateX(100vh);
    }
}



/* for signup also */
.signup-entering{
    animation-name: signupEntering;
    animation-duration: 1.5s;
}

.signup-exiting{
    animation-name: signupExit;
    animation-duration: 1.5s;
}


@keyframes signupEntering{
    0%,40%{
        transform: translateX(-100vh);
    }
    40%,70%{
        transform: translateX(45px);
    }
    70%,100%{
        transform: rotateX(0);
    }
}
@keyframes signupExit{
    0%,40%{
        transform: rotateX(0);
    }
    40%,70%{
        transform: translateX(45px);
    }
    70%,100%{
        transform: translateX(-100vh);
    }
}