.description-content{
    width: 80%;
    border: 1px solid #ddd;
}

.description-content h4{
    background-color: var(--mainColor);
    font-size: 15px;
    font-weight: 900;
    padding: 10px;
}
.description-content p{
    padding: 10px;
    font-size: 14px;
    width: 80%;
    min-height: 300px;
}
