.getstart .background{
    border-radius: 5px;
    overflow: hidden;
}
.slider-container{
    background-color: #fff;
    position: relative;
    display: flex;
    width: 650px;
    overflow: hidden;
}
.slider-container .card-info{
    bottom: 40px;
}
.card-container .card{
    border: none;
}

.track{
    display: flex;
    transition: transform 0.3s;
}
.track .card-container{
    margin: auto 150px;
    width: 350px;
    flex-shrink: 0;
    box-sizing: border-box;
}
.slider-container button{
    position: absolute;
}
@media(max-width:720px){
    .slider-container{
        background-color: #fff;
        position: relative;
        display: flex;
        width: 450px;
        overflow: hidden;
    }
    .track .card-container{
        margin: auto 75px;
        width: 300px;
        flex-shrink: 0;
        box-sizing: border-box;
    }
}
@media(max-width:460px){
    .slider-container{
        background-color: #fff;
        position: relative;
        display: flex;
        width: 320px;
        overflow: hidden;
    }
    .track .card-container{
        margin: auto 10px;
        width: 300px;
        flex-shrink: 0;
        box-sizing: border-box;
    }
}