.home {
    min-height: 87vh;
}

.section-title {
    font-weight: 600;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.featured_product {
    position: relative;
}


/* for transition animation */
.home-entering {
    animation-name: animate1;
    animation-duration: 0.5s;
}

.features,
.brands-container {
    background-color: #f5f5f5;
    padding: 15px 0;
    margin-top: 10px;
}


.features .container {
    display: flex;
    justify-content: space-around;
}

.feature {
    cursor: pointer;
    margin: 15px 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 175px;
    text-align: center;

}

.feature i {
    color: var(--mainColor);
    font-size: 35px;
    padding: 0 10px;
}

.feature-text-container h3 {
    letter-spacing: 1px;
    width: 100%;
    font-weight: 600;
    font-size: 15px;
    color: #000;
}

.feature-text-container p {
    color: #000;
    font-weight: 200;
    font-size: 15px;
}

.popular-brands .brands-container {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;

}

.brands-container img {
    margin: 0px 20px;
    width: 200px;
    object-fit: contain;
    max-height: 70px;
    margin-right: 20px;
    transition: transform 0.45s;
}

@media (max-width:768px) {
    .features .container {
        flex-direction: column;
        align-items: center;
    }

    .home .most-ordered {
        flex-direction: column;
        align-items: center;
    }

    .home .most-ordered .ordered-item {
        width: 100%;
        align-items: center;
        margin-bottom: 10px;
        margin-right: 0;
    }

    .brands-container svg {
        padding: 0px 5px;
        margin: 0 10px;
    }

    .most-ordered .ordered-item h1 {
        font-size: 12px;
    }

    .most-ordered .ordered-item button {
        background-color: #000;
        color: #fff;
        border-radius: 2px;
        margin-top: 30px;
        padding: 2px 5px;
        font-size: 12px;

    }

    .most-ordered .ordered-item img {
        width: 100px;
    }

    .brands-container img {
        width: 100px;
    }
}