.featured_products_container {
    display: flex;
    position: relative;
    padding: 5px 35px;
    justify-content: center;
}

.featured_product_slider {
    display: flex;
    overflow-x: scroll;
    align-items: center;
    width: 100%;
    transition: scroll 2s cubic-bezier(0.71, 0.15, 0.3, 0.81);
}

.featured_products_container .scroll_btn {
    cursor: pointer;
    position: absolute;
    padding: 10px;
    background-color: #fff;
    z-index: 10;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    box-shadow: 0px 0px 5px 5px #ddd;
    top: 85px;
    left: 10px;
}

.featured_products_container .right {
    left: unset;
    right: 10px;
}

.featured_product_slider {
    display: flex;
    overflow-x: scroll;
}

.featured_product_slider .ordered-item {
    display: flex;
    height: 200px;
    background-color: #f5f5f5;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    margin-right: 10px;
    text-align: center;
}

.featured_product_slider .ordered-item:last-child {
    margin-right: 0;
}

.featured_product_slider .ordered-item img {
    width: 100px;
}

.featured_product_slider .ordered-item .order-info {
    width: 140px;
}

.featured_product_slider .ordered-item h1 {
    font-size: 18px;
}

.featured_product_slider .ordered-item button {
    background-color: #000;
    color: #fff;
    border-radius: 2px;
    margin-top: 30px;
    padding: 5px 10px;
}

@media (max-width: 768px) {
    .featured_product_slider .ordered-item {
        width: 96% !important;
    }
}