
.nav-brand img{
    margin-left: 20px;
    width: 120px;
    height: 60px;
}
.nav-brand h1{
    font-family: 'header2';
}

@media(max-width:768px){
    .nav-brand{
        font-size: 10px;
        font-weight: 600;
        padding: 5px 8px;
        color: var(--green);
        text-decoration: none;
        justify-self: flex-start;
    }

}
@media(max-width:512px){
    .nav-brand img{
        margin-left: 10px;
        width: 100px;
        height: 55px;
    }
}