
.admin-panel{
    display: flex;
    background-color: #1f1d2c;
    position: relative;
}


.admin-panel .admin-menu{
    width: 230px;
    background-color: #1f1d2c;
    color: #65636f;
    padding-top: 45px;
    position: fixed;
    bottom: 0px;
    left: 0;
    top: 100px;
    transition: left .6s cubic-bezier(0.62, -0.02, 0.53, 0.98);

}
.admin-panel .admin-menu .admin-menu-button{
    position: fixed;
    z-index: 100;
    color: #fff;
    font-size: 30px;
}
.admin-panel .account-info{
    margin-bottom: 20px;
    padding-left: 20px;
    display: flex;
    align-items: center;
}
.admin-panel .account-info img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin: 3px;
}
.admin-panel .account-info h3{
    color: #d2d0da;
}
.admin-panel .account-info p{
    font-size: 10px;
}
.admin-panel .account-info a{
    margin:0 10px;
}
.admin-panel .account-info i{
    padding: 5px 8px;
    border-radius: 40px;
    font-size: 18px;
    color: #fff;
    background-color: var(--i);
}
.admin-panel .account-info a:hover ,.admin-panel .account-info a i{
    transform: rotate(180deg);
    color: var(--mainColor);
    transition: transform 1s;
}
.admin-panel .text-menu{
    margin-bottom: 20px; 
    font-size: 14px;
    margin-left: 20px;
}

.admin-panel .admin-menu .menu-list{
    list-style-type: none;
    margin-top: 20px;
}
.admin-panel .admin-menu .menu-list li{
    position: relative;
    cursor: pointer;
    list-style-type: none;
    padding: 20px 0;
    padding-left: 20px;
    border-bottom: 1px solid #2f2c42;
}
.admin-panel .admin-menu .menu-list li i{
    padding: 8px 10px;
    margin-right: 10px;
    border-radius: 14px;
    color: #fff;
    background-color: var(--i);
}

.admin-panel .admin-menu .menu-list li:hover {
    background-color:#262837;
    color: #fff;
    border-left: 2px solid var(--i);
}

.active-menu{
    background-color:#262837;
    color: #fff;
    border-left: 2px solid var(--i);
}

.info-panel{
    background-color: #262837;
    color: #fff;
    padding: 20px;
    padding-top: 40px;
    position: fixed;
    bottom: 0px;
    right: 0;
    left: 230px;
    top: 100px;
    overflow-y: scroll;
    transition: left .6s cubic-bezier(0.62, -0.02, 0.53, 0.98);
}

.info-panel .full-screen-panel{
    position: absolute;
    left: 16px;
    font-size: 40px;
    top: -5px;
    cursor: pointer;
}
.info-panel .full-screen-panel:hover{
    color: var(--mainColor);
}

@media(max-width: 540px){
    .admin-panel .info-panel,
    .admin-panel .small-loading{
        left: 0 ;
    }

}


