*::-webkit-scrollbar {
  visibility: hidden;
  width: 8px;
  height: 0;

}
body{
  font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
*::-webkit-scrollbar-track {
  opacity: 0;
  background-color: rgba(255, 255, 255, 0);
}

*::-webkit-scrollbar-thumb {
  opacity: 0;
  background-color: var(--mainColor);
  border-radius: 10px;
}

.align_center{
  display: flex;
  align-items: center;
}
.section-title{
  font-weight: 600;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}
a:active{
  transform: scale(0.98);
}

sub{
  font-weight: 100;
  font-size: 12px;
}

.about-entring {
  animation-name: top-bottom-animate;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.6, 0.01, 0.18, 1);
}

.fade-in {
  animation-name: fade-in;
  animation-duration: .5s;
  animation-timing-function: cubic-bezier(0.55, 0.01, 0.12, 0.97);
}

/* all the aniations */
@keyframes top-bottom-animate {
  from {
    transform: translateY(-100vh);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes bottom-top-animate {
  from {
    transform: translateY(100vh);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes right-to-left {
  from {
    transform: translateX(100vh);
  }

  to {
    transform: translateX(0vh);
  }
}

@keyframes left-to-right {
  from {
    transform: translateX(-100vh);
  }

  to {
    transform: translateX(0vh);

  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}