.input-container{
    position: relative;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column
}
.input-container input{
    position: relative;
    width: 100%;
    padding: 8px;
    color: #000;
    background-color: transparent;
    outline: none;
    z-index: 20;
    border-radius: 5px;
    border: 1px solid var(--mainColor);
}
.image-input{
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.image-input img{
    width: 210px;
    height: 210px;
    border-radius: 50%;
    object-fit: cover;
}
.image-input input{
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100px;
    right: 100px;
    opacity: 0;
    z-index: 10;
}
.image-input i{
    position: absolute;
    top: 40%;
    font-size: 50px;
    z-index: 5;
}
.image-input input:hover + i{
    color: var(--mainColor);
}
.input-container label{
    position: absolute;
    font-size: 12px;
    left: 8px;
    top: 8px;
    z-index: 1;
    transition: all 0.3s cubic-bezier(1, -0.33, 0, 1.15);
    transform: translate(0px, 0px) scale(1);
    transform-origin: left top;
}
.input-container input:focus ~ h4{
    transform: translateY(-10px);
}

.input-container input[value=""]::-webkit-datetime-edit{
    color:transparent
}
.input-container input:focus ~ u::before{
    width: 100%;
}

.input-container input:focus ~ label,
.focus label{
    top: -10px !important;
    font-size: 12px;
    left: 10px ;
    background: #fff;
    z-index: 50;
    padding: 0 4px;
}

.invalid input{
    color: #e91607;
    border-color: #e91607;
    box-shadow: 0px 0px 0px 1px #e91607;
}

.warning-message{
    color: #e91607;
    font-size: 12px;
    width: 100%;
    text-align: left;
}

