.btn{
    cursor: pointer;
    padding: 5px 10px;
    color: #000;
    outline: none;
    border: none;
    border-radius: 4px;
    font-family: inherit;
    font-size: 14px;
    transition: background 0.2s;
    box-sizing: inherit;
    transition: transform 0.3 ease;
}
.btn:active{
    transform: scale(0.98);
}
.white{
    background-color: #fff;;
    color: #000
}
.white:hover{
    color: #fff;
    background-color: var(--mainColor);
}

.success{
    background-color: var(--mainColor) !important;
}
.success:hover{
    background-color: #cf6a1c;;
    color: #fff;
}

.danger{
    background-color: #db0808 !important;
}
.danger:hover{
    background-color: #ac0a0a !important;
    color: #fff;
}

.outline {
    background-color: transparent;
    border: 1px solid var(--mainColor);
}
.outline:hover{
    background-color: var(--mainColor);
    color: #fff;
}