.getstart{
    padding: 20px 30px;
    width: 100%;
    display: flex;
    padding: 20px;
    flex-shrink: 0;
    flex-wrap: wrap;
    justify-content: center;
}
.getstart .title{
    width: 500px;
    margin: auto;
}
.getstart .title h2{
    font-family: "nexabold";
    font-size: 40px;
    font-weight: 900;
    text-align: left;
}


.getstart .background{
    background-color: #fff;
    position: relative;
    display: grid;
    width: 650px;
    height: 350px;  
}
@media (max-width:768px){
    .getstart .title h2{
        width: 100%;
        text-align: center;
        font-size: 25px;
    }
    .getstart .title p{
        width: 85%;
        text-align: center;
        font-size: 14px;
    }
}