.modal{
    width: 45%;
    z-index: 300;
    position: fixed;
    background-color: #fff;
    border-radius: 5px;
    left: 27%;
    padding:30px 0;
    top: 40%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    text-align: center;
}
.modal h2{
    color: #000;
    font-weight: 500;
    margin-bottom: 20px;
}
.modal button{
    margin: 5px 20px !important;
    padding: 5px 20px !important;
}

@media(max-width: 768){
    .modal{
        width: 60%;
        left: 20%;
        top: 40%;
    }
}