.details-pane{
    padding-top: 0;
}
.details-pane .tap-list{
    list-style: none;
    border-bottom: 1px solid #ddd;
}
.details-pane .tap-list li{
    cursor: pointer;
    padding: 6px 25px;
    display: inline-flex;
    color: #000;
    justify-content: center;
    background-color: #fff;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.content-pane{
    display: none;
    width: 100%;
    margin:20px 0;
}
.details-pane .tap-list li:hover{
    background-color: #cacaca96;
}
.tap-active{
    border: 1px solid #ddd ;
    border-bottom: 1px solid #fff;
    margin-bottom: -2px ;
    background-color: var(--mainColor) !important;
}
.content-active{
    display:block ;
}


@media(max-width:768px){
    .details-pane .description-content,
    .details-pane .data-sheet{
        width: 100%;
    }
    .details-pane .tap-list li{
        cursor: pointer;
        padding: 6px 15px;
        font-size: 15px;
    }
    .product-details .product-title {
        font-size: 16px;
        letter-spacing: 2px;;
    }
}
@media(max-width:400px){
    .details-pane .tap-list li{
        cursor: pointer;
        padding: 6px 10px;
        font-size: 10px;
    }
}